[submodule "pygrid/src"]
	path = pygrid/src
	url = https://github.com/pkkid/pygrid
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "gdb-dashboard/src"]
	path = gdb-dashboard/src
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "vifm/colors"]
	path = vifm/colors
	url = https://github.com/vifm/vifm-colors
