[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
# StartupNotify=true
Exec=/home/Rafa/config/audio/stop_pulseaudio.sh
Name=Stop Pulse Audio
Icon=alsamixergui
