#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment=Resize Windows
Exec=/home/Rafa/config/pygrid/launch.sh
Name=Pygrid
StartupNotify=false
Type=Application
Version=1.0
