[Desktop Entry]
Categories=Utility;
Comment=Resize Windows
Exec=/home/Rafa/config/pygrid/launch.sh
Icon=window_list
Name=Pygrid
#StartupNotify=false
X-GNOME-Autostart-enabled=true
Type=Application
Version=1.0
