#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
#Exec=sudo primusrun virtualbox --startvm CAD
Exec=sudo optirun virtualbox --startvm CAD
Name=CAD
Comment=CAD software under Windows 10 with full GPU
Icon=qcad
