#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=alacritty -e /home/vega/Config/neovim/open-with-neovim.sh %F
Name=Terminal Vim
Icon=nvim-qt

